<!-- <header id="header" class="fixed-top">
    <div class=" d-flex align-items-center justify-content-between ">

      <h1 class="logo"><a href="index.html">Multi</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" routerLink="/home">Home</a></li>
          <li><a class="nav-link scrollto" routerLink="/signUp">Sign Up</a></li>
          <li><a class="nav-link scrollto" routerLink="/login">LogIn</a>
          </li>
          <li><a class="nav-link scrollto" routerLink="/about">About</a></li>
          <li><a class="nav-link scrollto" routerLink="/services">Services</a></li>
          <li><a class="nav-link scrollto " routerLink="/portofolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" routerLink="/team">Team</a></li>
          <li class="dropdown"><a href="#"><span>More Information</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/testimonial">Testimonials</a></li>
              <li><a routerLink="/cta">Call To Action</a></li>
              <li><a routerLink="/whyus">Why Us</a></li>
              <li><a routerLink="/FAQ">FAQ</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Employees</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/listEmployees">Employees List</a></li>
              <li><a routerLink="/addEmployee">Add Employee </a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>managers</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/listManagers">Managers List</a></li>
              <li><a routerLink="/addManager">Add Manager</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Customers</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/listCustomers">Customers List</a></li>
              <li><a routerLink="/addCustomer">Add Customer</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Articles</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/listArticles">Articles List</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" routerLink="/contact">Contact</a></li>
          <li><a class="getstarted scrollto" routerLink="/about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header> -->
  <!-- End Header -->
<header id="header" class="fixed-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex">
      <a class="navbar-brand logo col-xl-1" href="index.html" >Multi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse col-xl-9" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li><a class="nav-link scrollto active" routerLink="/home">Home</a></li>

          <li><a class="nav-link scrollto" routerLink="/signUp">Sign Up</a></li>
          <li><a class="nav-link scrollto" routerLink="/login">LogIn</a>
            <li><a class="nav-link scrollto" routerLink="/about">About</a></li>
            <li><a class="nav-link scrollto" routerLink="/services">Services</a></li>
            <li><a class="nav-link scrollto " routerLink="/portofolio">Portfolio</a></li>
            <li><a class="nav-link scrollto" routerLink="/team">Team</a></li>
            <li class="nav-item dropdown"><a href="#" id="navbarDropdown"  data-bs-toggle="dropdown" aria-expanded="false"><span>More Information</span> <i class="bi bi-chevron-down"></i></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a routerLink="/testimonial">Testimonials</a></li>
                <li><a routerLink="/cta">Call To Action</a></li>
                <li><a routerLink="/whyus">Why Us</a></li>
                <li><a routerLink="/FAQ">FAQ</a></li>
              </div>
            </li>
          <li class="nav-item dropdown">
            <a  href="#" id="navbarDropdown"  data-bs-toggle="dropdown" aria-expanded="false">
              <span>Employees</span> <i class="bi bi-chevron-down"></i>            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="" routerLink="/listEmployees">Employees List</a></li>
              <li><a class="" routerLink="/addEmployee">Add Employee</a></li>
            </div> 
          </li>
          <li class="nav-item dropdown">
            <a  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span>Managers</span> <i class="bi bi-chevron-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="" routerLink="/listManagers">Managers List</a></li>
              <li><a class="" routerLink="/addManager">Add Manager</a></li>
            </div> 
          </li>
          <li class="nav-item dropdown">
            <a  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span>Customers</span> <i class="bi bi-chevron-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="" routerLink="/listCustomers">Customers List</a></li>
              <li><a routerLink="/addCustomer">Add Customer</a></li>
            </div> 
          </li>
          <li class="nav-item dropdown">
            <a  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span>Articles</span> <i class="bi bi-chevron-down"></i>            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a routerLink="/listArticles">Articles List</a></li>
            </div> 
          </li>
          
          <li><a class="nav-link scrollto" routerLink="/contact">Contact</a></li>
          <li><a class="getstarted scrollto" routerLink="/about">Get Started</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>