<section class="section-bg">
    <div class="container my-5 pt-5">
        <div class="card "data-aos="zoom-in">
            <h6>{{message}}</h6>
            <div class="card-body">
                <form action="" #formEmployee="ngForm">
                <div class="form-group">
                    <label for="">Employee Name</label>
                    <input type="text" class="form-control" [(ngModel)]="employee.name"   required minlength="3" maxlength="20" #employeeName="ngModel" name="name">
                    <div class="alert alert-danger" *ngIf="employeeName.invalid && employeeName.touched">
                        Please Enter Valid Name
                    </div>
                    
                </div>
                <div class="form-group">
                    <label for="">department</label>
                    <input required type="url" class="form-control"[(ngModel)]="employee.department" #employeeDepartment="ngModel" name="department">
                </div>
                <div class="form-group">
                    <label for="">Employee Phone</label>
                    <input required type="text" class="form-control" [(ngModel)]="employee.phone" #employeePhone="ngModel" name="phone" required minlength="12" maxlength="12">
                    <div class="alert alert-danger" *ngIf="employeePhone.invalid && employeePhone.touched">
                        Please Enter Valid phone number
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Employee Age</label>
                    <input required type="number" class="form-control"[(ngModel)]="employee.age" #employeeAge="ngModel" name="age" minlength="2" maxlength="2" >
                    <div class="alert alert-danger" *ngIf="employeeAge.invalid && employeeAge.touched">
                        You must Enter right Age 
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Employee Image Url</label>
                    <input required type="url" class="form-control"[(ngModel)]="employee.imgUrl" #employeeImage="ngModel" name="img">
                    <div class="alert alert-danger" *ngIf="employeeImage.invalid && employeeImage.touched">
                        This Field Is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="">I agree Terms and Conditions</label>
                    <input required type="checkbox" ngModel #agree="ngModel" name="agree">
                </div>
                <div>
                    <button  [disabled]="formEmployee.invalid" (click)="onSubmit()" class="btn btn-info">Submit Data</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</section>
