<div class="bg">
<div class="bgo ">
<div class="container py-5 ">
    <h1 class="text-center" data-aos="zoom-in">Sign Up Page</h1>
    <div class="card" data-aos="zoom-in">
        <div class="card-body">
            <form action="" #formSignUp="ngForm">

            <div class="form-group">
                <label for="">User name</label>
                <input type="text" class="form-control" [(ngModel)]="users.name" required minlength="3" maxlength="20" #UserName="ngModel" name="user">
                <div class="alert alert-danger" *ngIf="UserName.touched && UserName.invalid">
                    
                        Please Enter Valid Name
                </div>
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" [(ngModel)]="users.password" required minlength="5" maxlength="20" #Password="ngModel" name="pass">
                <div class="alert alert-danger" *ngIf="Password.touched && Password.invalid">
                    
                    Please Enter Valid Password
            </div>
            </div>
            
            <div class="form-group">
                <label for="">I agree Terms and Conditions</label>
                <input required type="checkbox" ngModel #agree="ngModel" name="agree" required>
                <div class="alert alert-danger" *ngIf="agree.touched && agree.invalid">
                    
                    This Field is required
            </div>
            </div>
            <div class="form-group w-25 m-auto">
                <button [disabled]="formSignUp.invalid" class="w-100 text-center mt-5" (click)="SignUp()" >Sign Up</button>
            </div>
        </form>

        </div>
    </div>
</div>
</div>
</div>




