<section class="section-bg">
    <div class="container col-md-4 my-5 py-5 ">
        <div class="row border d-flex justify-content-between " data-aos="zoom-in">
        
                <div class=" col-xl-6">
                    <img [src]="employee.imgUrl" alt="" class="w-100 ">
                </div>
                <div class="card-body col-xl-2 py-5" style="font-size: 25px;">
                    <h6><b>Name</b> : {{employee.name}}</h6>
                    <h6><b>Phone</b> : {{employee.phone}}</h6>
                    <h6><b>Age</b> : {{employee.age}}</h6>
                    <h6><b>department</b> : {{employee.department}}</h6>
                </div>
                <a class="btn btn-info" routerLink="/listEmployees">Go Back</a>
        </div>
        
    </div>
</section>